@model IEnumerable<SalaJocuriLicenta.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Alege categoria favorita</h2>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager



@if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
{

    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    @*<table class="table">
            <thead>
                <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        <a asp-controller="Products" asp-action="Index" asp-route-categoryid="@item.CategoryId">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>*@

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <img src="@Html.DisplayFor(modelItem => item.CategoryAvatar)" alt="Avatar" style="width:inherit; height:240px;">
                    <div class="container">
                        <a asp-controller="Products" asp-action="Index" asp-route-categoryid="@item.CategoryId">@Html.DisplayFor(modelItem => item.CategoryName)</a>


                    </div>
                </div>
            </div>
        }
    </div>

